#profile-pic {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    border: 3px solid rgba(135, 194, 240, .7);
    margin: 0 auto 15px auto;
}

#animals-pic {
    height: 150px;
    width: auto;
}

.home-content {
    max-width: 80%;
    margin: 0 auto 20px auto;
}

.new-section {
    margin: 40px auto 0 auto;
}

.new-section > p {
    text-align: left;
    padding: 0 0 0 17.5%;
    font-size: smaller;
    font-weight: 600;
    margin: 0 0;
}

@media (max-width: 600px) {
    .new-section > p {
        padding: 0 0 0 2%;
    }

    #animals-pic {
        height: 100px;
    }
 }