<div class="icons-list">
    <a href="https://github.com/matatusko" title="Collaborate with me on Github">
    <img class="icon" src="{{ url_for('static', filename='icons/github.svg') }}" alt="Github" />
    </a>
    <a href="https://www.linkedin.com/in/mateusz-tatusko-a43465102/" title="Connect with me on LinkedIn">
    <img class="icon" src="{{ url_for('static', filename='icons/linkedin.svg') }}" alt="LinkedIn" />
    </a>
    <a href="https://twitter.com/matatusko" title="Follow me on Twitter">
    <img class="icon" src="{{ url_for('static', filename='icons/twitter.svg') }}" alt="Twitter" />
    </a>
</div>