<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% endblock %} - matatusko.com</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="navbar">{% include 'navbar.html' %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">{% include 'footer.html' %}</div>
    </body>
</html>