<p>
    I'm a data analyst based in Budapest, Hungary. I enjoy everything data related, 
    starting from database design and analytics, through data engineering to machine learning and finally ending on visualization,
    with the latter being my particular area of interest, despite lack of any deeper experience in the field (yet!). 
</p>
<img id='animals-pic' src="{{ url_for('.static', filename='images/animals.png') }}" alt="My furry children" />
<p>
    I'm a proud father of Pangur Ban the cat and Zaria the dog, pictured above.
    When I am not spending time with my family or in front of computer learning new programming concepts, 
    I do enjoy playing music - it's a little dream of mine to be able to compose songs based on 
    &#119074; groovy bass lines, &#127928; heavy guitars and &#127929; pixel-core synthesisers.    
</p>