#profile-pic {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    border: 3px solid rgba(135, 194, 240, .7);
    margin: 0 auto 15px auto;
}

#animals-pic {
    height: 150px;
    width: auto;
}

.home-content {
    max-width: 80%;
    margin: 0 auto 20px auto;
}

.new-section {
    margin: 40px auto 0 auto;
}

.new-section > p {
    text-align: left;
    padding: 0 0 0 17.5%;
    font-size: smaller;
    font-weight: 600;
    margin: 0 0;
}

.home-skills {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
}

.home-experience {
    width: 65%;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    justify-items: start;
    grid-gap: 10px;
    align-items: center;
    text-align: left;
}

.experience-place {
    display: flex;
    flex-direction: column;
}

.experience-place {
    font-weight: 600;
}

.experience-date {
    font-size: x-small;
    font-weight: 100;
}

.experience-logo {
    max-width: 40px;
}

@media (max-width: 600px) {
    .new-section > p {
        padding: 0 0 0 2%;
    }

    #animals-pic {
        height: 100px;
    }

    .home-skills {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .home-experience {
        width: 100%;
    }
 }