{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/projects.css') }}">
{% endblock %}
{% block content %}

<div class="content-title">
    <h2>Projects</h2>
    <p>Please take a look at some of the stuff I've been working on &#128036;</p>
</div>

<br>

<div class="cards">
    
    {% for project in projects %}
    <a href="/projects/{{ project['project_name'] }}">
        <div class="card">
            <span class="card-title">{{ project['title'] }}</span>
            {% if project['title_image']['type'] == 'local' %}
                <img class="card-image" src="{{ url_for('.static', filename='images/'+project['title_image']['path']) }}">
            {% else %}
                <img class="card-image" src="{{ project['title_image']['path'] }}">
            {% endif %}
            <span class="card-description">{{ project['subtitle'] }}</span>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}