/* BACKGROUND */
html, body {
   height: 100%;
}

body {
   background-color: #fff8f1;
   font-family: 'Quicksand', sans-serif;
   display: flex;
   flex-direction: column;
}

.font-light {
   font-weight: 100;
}

.font-heavy {
   font-weight: 600;
}


/* CONTENT */
#content {
   padding: 25px 0;
   flex: 1 0 auto;
   max-width: 950px;
   margin: 10px auto;
   text-align: center;
}

.content-title {
   margin: 0 auto;
}

.content-title > h2 {
   margin: 0;
}


/* ANCHORS */
a:hover, a:visited, a:link, a:active {
   text-decoration: none;
   box-shadow: none;
   color: inherit;
}


/* DIVIDERS */
.divider {
   width: 65%;
   opacity: .5;
}

@media (max-width: 600px) {
   .divider {
       width: 95%;
   }
}


/* PROGRESS BAR */
.meter { 
   width: 100%;
   height: 20px;
   background: rgba(213, 213, 213, .5);
   border-radius: 15px;
}

.meter > div {
   height: 100%;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-color: #65d1f1;
}


/* ICONS */
.icon-list {
   display: flex;
   justify-content: center;
}

#footer > .icon-list {
   margin: 10px auto;
}

.contact-icon {
   width: 35px;
   height: 35px;
   opacity: .25;
   transition: opacity .25s ease-in-out;
   padding: 0 4px;
}

.contact-icon:hover {
   opacity: 1;
}
