{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}

<div class="cards">
    <div class="card">
        <span class="card-title">One Chart a Day</span>
        <img class="card-image" src="#">
        <span class="card-description">description 1</span>
    </div>
    <div class="card">
        <span class="card-title">PROJECT TITLE THIS ONE IS A BIT LONGER THAN OTHERS</span>
        <img class="card-image" src="#">
        <span class="card-description">Another quick project description</span>
    </div>
    <div class="card">
        <span class="card-title">PROJECT TITLE</span>
        <img class="card-image" src="#">
        <span class="card-description">how about describe. And perhaps slightly longer just to see how it looks like when rendered on the page</span>
    </div>
    <div class="card">
        <span class="card-title">PROJECT TITLE</span>
        <img class="card-image" src="#">
        <span class="card-description">let's see</span>
    </div>
    <div class="card">
        <span class="card-title">PROJECT TITLE</span>
        <img class="card-image" src="#">
        <span class="card-description">hm, nathing here! lorem ipsum only</span>
    </div>
 </div>

{% endblock %}